# Database Configuration
DB_HOST=store-rating-db.cxsaewym2tpp.eu-north-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=store_rating_db
DB_USER=admin
DB_PASSWORD=
DB_SSL=false

# Authentication
JWT_SECRET=

# Server Configuration
PORT=5000
NODE_ENV=production
